# Database Configuration
# For SQLite (default):
# DATABASE_URL="file:./dev.db"
# For PostgreSQL:
# DATABASE_URL="postgresql://user:password@localhost:5432/forum_downloader"
DATABASE_URL="file:./dev.db"

# Application Configuration, can be "development" or "production"
NODE_ENV="development"
PORT=3000

# JWT_SECRET=$(openssl rand -base64 32) 
JWT_SECRET="put-generated-code-here"

# Logging
LOG_LEVEL="info"
